body{
    background-color: #FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    margin:0;
    position: relative;
}



  .popup {
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 999;
    width: 800px;
    height: 500px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;   
  
    cursor: pointer;
  }



a{
    text-decoration: none;
    color:inherit;
}

h1, h2{
    color:#1B5930;
}

h2{
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding:20px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.container-xxl{
    width:95%;
    margin:0 auto;
    
}

.header{
    width:100%;
    height: auto;
    border-top: 10px solid #1B5930;
    /*position: fixed;*/
    background-color: #FFF;
    
}

.header .logo img{
    
    width: 200px;
   
}

.navigation{
    background-color: #1B5930;
    overflow:hidden;
}

.navigation a{
    float:left;
    color:#f2f2f2;
    text-align: center;
    padding:15px;
    text-decoration: none;
}

.navigation a.active{
    background-color: #FFF6CC;
    color:#1B5930;
}

.navigation a:hover{
    background-color:#FFF6CC;
    color:#1B5930;
    transition: 0.5s;
}

.content{
    background-color: #f2f2f2;
    /*padding-top:240px;*/
    padding-bottom:20px;
}

.main-banner{
    width:100%;
}

.main-banner img{
    width: 100%;
    
}

.gap{
    margin-top:10px;
}

.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap:10px;
}

.gallery-item{
    box-sizing: border-box;
    overflow: hidden;
    border-radius:5px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
}

.gallery-item img{
    width:100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover img{
    transform: scale(1.1); /* Memberikan efek zoom pada saat hover */
}

.room-name{
    padding-top:20px;
    padding-left:20px;
}

.room-description{
    padding-top:10px;
    padding-left:20px;
    padding-bottom:20px;
}

.reservation form{
    padding:20px;
    border-radius: 5px;
    background-color: #FFF;
}

input[type=text], input[type=date], select, textarea{
    width: 100%;
    padding:15px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius:5px;
    box-sizing: border-box;
}

input[type=submit]{
    width:150px;
    background-color: #1B5930;
    color:#FFF;
    padding: 15px;
    margin: 8px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}

input[type=submit]:hover{
    background-color: #45a049;
}

.row {
    display: flex;
    justify-content: space-between;
   
    
}

.vertical-center{
    align-items: center;
}



.row .col-25{
    width:25%;
}

.row .col-50{
    
    width:50%;
}

.row .col-75{
    width:75%;
}

.text-center{
    text-align: center;
}

.side-bar{
    padding-right:15px;
}


.left-navigation ul{
    list-style: none;
    margin-left: -40px;
   
}



.left-navigation ul li{
    padding: 15px;
    background-color: #CCCCCC;
    margin-bottom: 5px;
    border-radius: 5px;
   
}

.left-navigation ul li a{
    display: block;
}

.left-navigation ul li:hover{
    background-color: #fcb842;
    color:#FFFFFF;
    transition: 0.3s;

}


.gallery-container img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    padding-bottom: 10px;
}

figure {
    margin: 0;
 }

 figure h2{
    padding-top:0;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 0;

 }

 figure{
    padding-bottom: 10px;
 }

 .gallery-container {
   /*display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   grid-template-rows: masonry;*/
   column-count: 3;
    column-gap: 20px 20px;
    width: 1200px;
}



.footer .logo img{
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-20{
    padding:20px;
}

/*.row .item {
    background-color: lightseagreen;
    padding: 20px;
    color: white;
   
}*/